{% block widget %}
<div id="modal-create-user" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Create User</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <form id="user-create-from" method="POST" action="{{ url_for('admin.create_user') }}">
            <section class="modal-card-body">
                <div class="field">
                    <label class="label has-text-left">Username</label>
                    <div class="field control has-icons-left has-icons-right">
                        <input class="input" type="text" name="name" placeholder="Username" value="">
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label has-text-left">Password</label>
                    <div class="field control has-icons-left has-icons-right">
                        <input class="input" type="password" name="password" placeholder="Password" value="">
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
            </section>
        </form>
        <footer class="modal-card-foot">
            <button class="button is-success" form="user-create-from" type="submit">Add User</button>
            <button class="button" id="cancel">Cancel</button>
        </footer>
    </div>
</div>
<script>

</script>
{% endblock %}