{% block widget %}
<div id="modal-create-item" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="item-popup-title">Create</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <form id="item-create-from" method="POST" action="{{ url_for('admin.create_item') }}">
            <section class="modal-card-body">
            </section>
        </form>
        <footer class="modal-card-foot">
            <button class="button is-success" form="item-create-from" type="submit">Add Item</button>
            <button class="button" id="cancel">Cancel</button>
        </footer>
    </div>
</div>
{% endblock %}