{% extends "base.html" %}

{% block content %}
    <div class="select">
        <select name="categories" id="categories">
            <option selected value>All</option>
            <option value="clothing">Clothing</option>
            <option value="component">Computer Component</option>
            <option value="monitor">Monitor</option>
            <option value="snack">Snack</option>
        </select>
    </div>
    <div class="is-divider" data-content="">&nbsp;</div>
    <div id="item-list"></div>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    {% if current_user.is_admin %}
    <style> 
        div > .box {background-color:  #54b3f2!important;}
        div > .box:hover {background-color:  #54b3f294!important;}
        div > .box:active {background-color:  #5493f2!important;}
    </style>
    {% elif name %}
    <style> 
        div > .box {background-color:  #31dfc5!important;}
        div > .box:hover {background-color:  #31dfc594!important;}
        div > .box:active {background-color:  #31cedf!important;}
    </style>
    {% else %}
    <style> div > .box {background-color:  #FFE785!important;} </style>
    <style> 
        div > .box {background-color:  #FFE785!important;}
        div > .box:hover {background-color:  #FFE78594!important;}
        div > .box:active {background-color:  #ffd685!important;}
    </style>
    {% endif %}

    <script src="{{ url_for('static', filename='js/item_list.js') }}"></script>
{% endblock %}