{% block item_table %}
    <table class="table table-hover" id="item_table">
        <thead>
            <tr>
                <th class="has-text-centered dropdown is-hoverable dropdown-trigger">
                    <div class="select">
                        <select name="categories" id="categories">
                            <option disabled selected value> -- select a category -- </option>
                            <option value="clothing">Clothing</option>
                            <option value="component">Computer Component</option>
                            <option value="monitor">Monitor</option>
                            <option value="snack">Snack</option>
                        </select>
                    </div>
                    <span>&nbsp;</span>
                    <span>
                        <button class="button js-modal-trigger" data-target="modal-create-item">
                            <span class="icon is-small">
                                <i class="fa fa-plus"></i>
                            </span>
                        </button>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}