{% extends "base.html" %}

{% block content %}
    <div class="columns">
        <div class="column notification is-warning">
            <div class="content has-text-centered">User Control Panel
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="has-text-centered">Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="has-text-centered">
                                <a href="/user/create">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </td>
                        </tr>
                        {% for row in user_table %}
                        <tr>
                            <td class="has-text-centered">
                                <form action="{{ url_for('admin.delete_user') }}" method="post">
                                    <input type="hidden" name="name" value="{{ row.name }}">
                                    <button type="submit" class="button is-danger is-outlined is-small">
                                        <span class="icon is-small">
                                            <i class="fa fa-close"></i>
                                        </span>
                                    </button>
                                    <span>&nbsp;</span>
                                    <span class="has-text-weight-semibold">{{ row.name }}</span>                                    
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column is-1"></div>
        <div class="column notification is-danger">
            <div class="content has-text-centered">Item Control Panel

            </div>
        </div>
    </div>
    <style>
        .table-hover tbody tr:hover td {
            background-color: #0000002a;
        }
    </style>
{% endblock %}