{% extends "base.html" %}

{% block content %}
    <div class="columns">
        {% include 'create_user_popup.html' %}
        <div class="column notification is-warning">
            <div class="content has-text-centered">User Control Panel
                {% include 'user_table.html' %}
            </div>
        </div>
        <div class="column is-1"></div>
        {% include 'create_item_popup.html' %}
        <div class="column notification is-danger">
            <div class="content has-text-centered">Item Control Panel
                {% include 'item_table.html' %}
            </div>
        </div>
    </div>
    <style>
        .table-hover tbody tr:hover td {
            background-color: #0000002a;
        }
    </style>
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
{% endblock %}